@import '../../assets/scss/styles.scss';

.divImgError{
    text-align: center;
}

.imgError {
    margin-top: 50px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}
.titleError{
    color: $background-gray;
    font-size: 18px;
}