$background-white: #fff;
$background-yellow: #ffe600;
$background-black: #333333;
$background-gray: #999999;
$background-lightgray: #EEEEEE;
$background-blue: #3483FA;

body{
    background-color: $background-lightgray;
}
.espace_cards{
    margin: 0 15%;
}