@import '../../assets/scss/styles.scss';

.cardDetails {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: $background-white;
    border-radius: 4px 4px 0 0;
}

.div_image {
    text-align: center;
    min-width: 680;
    min-height: 680;
    max-width: 680;
    max-height: 680;
}

.info {
    margin-top: 32px;
}

.condition {
    font-size: 14px;
    margin-bottom: 16px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
}

.priceDetails {
    font-size: 46px;
    margin-bottom: 32px;
}

.btn_comprar {
    background-color: $background-blue;
    color: $background-white;
    border: 0;
    border-radius: 2px;
    height: 30px;
    width: 70%;
    margin-right: 32px;
}

.detailDescription {
    grid-column: 1;
    grid-row: 2;
    margin-left: 32px;
}

.titleDescription {
    font-size: 28px;
}

.productDescription {
    margin-bottom: 32px;
    font-size: 16px;
}