@import '../../assets/scss/styles.scss';

.navbar{
    background-color: $background-yellow;
    width: 100%;
    padding: 0.5rem 0;
}

.navbar_search{
    margin: 0 15%;
    display: grid;
    grid-template-columns: 55px 1fr 35px;
}
.logoML{
    
}
.inputSeachs{
    font-size: 18;
    border: 1px solid $background-white;
    border-radius: 2px;
    width: -webkit-fill-available;
    padding: 10px;
    margin-left: 25px;
}
.btn_search{
    border: 0;
    appearance: none;
    color: $background-white;
    padding: 9px;
    margin: 0;
    border-radius: 0 5px 5px 0;
    height: 37px;
    background: $background-lightgray;
    cursor: pointer;
}