@import '../../assets/scss/styles.scss';

body {
    background-color: $background-lightgray;
}

.link{
    display: grid;
    grid-template-columns: 196px 1fr 22%;
    padding: 1rem;
    text-decoration: none;
    color: black;
    background-color: $background-white;
    position: relative;
}

.link:before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 0;
    height: 1px;
    width: 95%;
    border-bottom: thin solid $background-lightgray;
}
.card_img{
    text-align: center;
    height: 180px;
    width: 180px;
    line-height: 180px;
}
.img{
    vertical-align: middle;
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    border-radius: 4px;
}
.p{
    margin-top: 0 !important;
    margin-bottom: 32px !important;
}
.price{
    margin-left: 18px;
    border: 0;
    font-size: 24px;
}
.title_item{
    margin-left: 18px;
    font-size: 18px !important;
}
.address{
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
}